.banji-btn {
	display: inline-block;
	cursor: pointer;
	border: 0;
	border-radius: 3em;
	font-weight: 700;
	line-height: 1;
	font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.banji-btn--primary {
	background-color: #555ab9;
	color: white;
}
.banji-btn--secondary {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
	background-color: transparent;
	color: #333;
}
.banji-btn--small {
	padding: 10px 16px;
	font-size: 12px;
}
.banji-btn--medium {
	padding: 11px 20px;
	font-size: 14px;
}
.banji-btn--large {
	padding: 12px 24px;
	font-size: 16px;
}
