html,
body {
	font-family: "Arial", serif, sans-serif;
	background-color: #e2e2e9ff;
}

.table {
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 1rem;
	border: 2px solid #e2e2e9ff;
	overflow: hidden;
	background-color: white;
}

.table th,
.table td {
	padding: 1rem;
	text-align: start;
}

.table th:not(:last-child),
.table td:not(:last-child) {
	border-right: 1px solid #e2e2e9ff;
}

.table > thead > tr:not(:last-child) > th,
.table > thead > tr:not(:last-child) > td,
.table > tbody > tr:not(:last-child) > th,
.table > tbody > tr:not(:last-child) > td,
.table > tfoot > tr:not(:last-child) > th,
.table > tfoot > tr:not(:last-child) > td,
.table > tr:not(:last-child) > td,
.table > tr:not(:last-child) > th,
.table > thead:not(:last-child),
.table > tbody:not(:last-child),
.table > tfoot:not(:last-child),
.table th {
	border-bottom: 1px solid #e2e2e9ff;
}

.table thead tr {
	background-color: #f3f3f7b4;
}


.table thead tr th {
	font-weight: bold;
}

.table tbody tr td:first-child {
	font-weight: bold;
	background-color: #f3f3f7b4;
}

.table thead tr th:first-child {
	color: #cececeff;
	font-weight: normal;
	font-size: 12px;
}

.container{
	max-width: 1080px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding-inline: 2rem;
	padding-top: 1rem;
}
